// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
	background: #f1f1f1;
	font-family:"Benton Sans Lt";

	h1,h2,h3,h4,h5 {
		font-family: "AspW-Rg";
		text-transform: uppercase;
	}
	a {
		color:$dark-blue;
		text-decoration: underline;
		&:hover{
			color: $light-blue;
		}
	}
	p {
		margin-bottom: 2rem;
	}
	strong {
		font-family: "Benton Sans Reg";
		font-weight: normal;
	}
}
@include media-breakpoint-down(md) {
	h3 {
		font-size:1.2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h1 {
		font-size:1.7em;
	}
}
.thumbnail_next_prev {
	display: block;
	@include media-breakpoint-down(md) {
		display:none;
	}
}
.signpost {
	font-family: AspW-Rg;
	text-transform: uppercase;
	@extend .box-shadow;
	@extend .widget;
	text-decoration: none;
	display:inline-block;
	margin-top:10px;
	margin-bottom:20px;
	margin-right:10px;
}
#masthead {
	background-repeat: repeat-x;
	background-position: center center;
	min-height: 200px;
	background-image: url('../img/AwesomeBookAwardsHeader.jpg');

	.custom-logo-link {
		margin-top:50px;
	}
}
nav.navbar{
	background: $light-blue;
	a {
		color:#fff;
		text-decoration: none;
	}
}
.navbar-toggler {
	color:#fff;

}
#wrapper-footer {
	background: $light-blue;
	color:#fff;
	.site-info {
		font-size: 0.8em;
	}
	a {
		text-decoration: underline;
		color:#fff;
		&:hover {
			color: darken(#fff, 10%);
		}
	}

}
.book-cover-wrapper {
	@extend .widget;
	@extend .box-shadow;
	//border:1px solid black;
	//padding:2px;
	//margin-bottom:20px;
}
.author-mugshot-wrapper {
	@extend .widget;
	@extend .box-shadow;
	img {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
}
.box-shadow {
	box-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0 0 34px 6px rgba(0, 0, 0, 0.06);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.entry-meta {
	font-size: 0.7em;
	font-style: italic;
	text-align: right;

	.entry-date.published {
		display:none;
	}
}
.entry-content {
	@extend .box-shadow;
	padding:10px;
}
.featured-image {
	margin-left: 10px;
	max-width: 33.3%;
	float:right;
	@extend .box-shadow;
	@extend .widget;
}
.widget {
	padding:10px;
	margin-bottom: 20px;
	&.no-padding {
		padding:0px;
	}
	@include media-breakpoint-down(md) {
		padding:7.5px;
	}
	@include media-breakpoint-down(sm) {
		padding:5px;
	}
}

.btn-peagreen {
	@include button-variant(#78be20, darken(#78be20, 20%), darken(#78be20, 10%));
	color:#fff;
	text-decoration: none;
	white-space: normal;
	text-transform: uppercase;
	font-family:"AspW-Rg";
	background-image: url('../img/PGBB-Logo-50px.png');
	background-repeat: no-repeat;
	background-position-x: 10px;
	background-position-y: 50%;
	padding-left:50px;

	&:hover {
		color:#fff;
	}
}